<div rel="8PVEZA8H" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="mealpay.com" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
<h1> mealPal api REF </h1>
<p> /createGroup </p>
<p> /test_createGroup to test the /createGroup</p> 
<p> /getGroup </p>
<p> /test_getGroup to test the /getGroup </p>
<p> /submitOrder </p>
<p> /test_submitOrder to test /submitOrder </p>
<p> /getAllOrders </p>
<p> /test_getAllOrders to test /getAllOrders</p>
