<h1> mealPal api REF </h1>
<p> /createGroup </p>
<p> /test_createGroup to test the /createGroup</p> 
<p> /getGroup </p>
<p> /test_getGroup to test the /getGroup </p>
<p> /submitOrder </p>
<p> /test_submitOrder to test /submitOrder </p>
