<h1> getGroup API Form </h1>
<p> json format: </p>
<p> <%= @json %> </p>
<form action="/getGroup" method="post">
  <input type="hidden" name="info" value="<%= @json %>" />
  <button type="submit"> Submit </button>
</form>
