<h1> /getAllOrders api </h1>
<p> json format: </p>
<p> <%= @json %> </p>

<form action="/getAllOrders" method="post">
  <input name="info" value="<%= @json %>" />
  <button type="submit"> Submit </button>
</form>


